.details-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: white;
    width: 70%;
    align-self: center;
    border-radius: 20px;
}

.details {
    align-items: flex-start;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 20px;
}

.headers h1 {
    margin: 5px;
}

.headers h3 {
    margin: 5px;
}

.book-img {
    border-radius: 20px;
    margin-right: 20px;
}

h4 {
    margin: 0;
}

.btn {
    margin: 15px;
}